.centralizar {
    max-width: 660px;
    margin: 0 auto;
}

.azul {
    background-color: rgb(112, 112, 112);
}

.amarela {
    background-color: rgb(235, 223, 63);
    padding: 100px;
    margin: 10px;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
}

.esticar {
    padding-right: 320px;
}

.alongar {
    padding-top: 315px;
}


.flex {
    display: flex;
}
.limite{
    height: 100px;
    max-width: 640px;
}
